In [1]:
from pandas import concat,DataFrame
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("city_hour.csv") 
df=df[df['City']=='Chennai']
df.drop(columns=['City','NOx','PM10','SO2','NO','AQI_Bucket','Benzene','Toluene','Xylene'],axis=1,inplace=True)
df.head(5)

                   Datetime  PM2.5    NO2   NH3    CO     O3  AQI
187751  2015-01-01 01:00:00    NaN  47.97  6.36  0.92   7.65  NaN
187752  2015-01-01 02:00:00    NaN  12.31  4.93  0.77  10.96  NaN
187753  2015-01-01 03:00:00    NaN  13.72  3.92  1.06  12.14  NaN
187754  2015-01-01 04:00:00    NaN  14.45  4.54  1.54  11.95  NaN
187755  2015-01-01 05:00:00    NaN  20.16  4.85  1.03  11.64  NaN

In [3]:
df.interpolate(limit_direction="both",inplace=True)
df.head(5)

                   Datetime  PM2.5    NO2   NH3    CO     O3    AQI
187751  2015-01-01 01:00:00  428.3  47.97  6.36  0.92   7.65  333.0
187752  2015-01-01 02:00:00  428.3  12.31  4.93  0.77  10.96  333.0
187753  2015-01-01 03:00:00  428.3  13.72  3.92  1.06  12.14  333.0
187754  2015-01-01 04:00:00  428.3  14.45  4.54  1.54  11.95  333.0
187755  2015-01-01 05:00:00  428.3  20.16  4.85  1.03  11.64  333.0

In [4]:
aqi_list=df['AQI'].to_list()

In [5]:
def series_to_supervised(data, n_in, n_out):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('AQI(t-%d)' % (i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(1, n_out):
		cols.append(df.shift(-i))
		names += [('AQI(t+%d)' % (i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	return agg

df1= series_to_supervised(aqi_list, 4, 6)
print(df1)

       AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0           NaN       NaN       NaN       NaN     333.0     333.0     333.0
1           NaN       NaN       NaN     333.0     333.0     333.0     333.0
2           NaN       NaN     333.0     333.0     333.0     333.0     333.0
3           NaN     333.0     333.0     333.0     333.0     333.0     333.0
4         333.0     333.0     333.0     333.0     333.0     333.0     333.0
5         333.0     333.0     333.0     333.0     333.0     333.0     333.0
6         333.0     333.0     333.0     333.0     333.0     333.0     333.0
7         333.0     333.0     333.0     333.0     333.0     333.0     333.0
8         333.0     333.0     333.0     333.0     333.0     333.0     333.0
9         333.0     333.0     333.0     333.0     333.0     333.0     333.0
10        333.0     333.0     333.0     333.0     333.0     333.0     333.0
11        333.0     333.0     333.0     333.0     333.0     333.0     333.0
12        333.0     333.0     333.0     333.0     333.0     333.0     333.0
13        333.0     333.0     333.0     333.0     333.0     333.0     333.0
14        333.0     333.0     333.0     333.0     333.0     333.0     333.0
15        333.0     333.0     333.0     333.0     333.0     333.0     333.0
16        333.0     333.0     333.0     333.0     333.0     333.0     333.0
17        333.0     333.0     333.0     333.0     333.0     333.0     333.0
18        333.0     333.0     333.0     333.0     333.0     333.0     333.0
19        333.0     333.0     333.0     333.0     333.0     333.0     333.0
20        333.0     333.0     333.0     333.0     333.0     333.0     333.0
21        333.0     333.0     333.0     333.0     333.0     333.0     333.0
22        333.0     333.0     333.0     333.0     333.0     333.0     333.0
23        333.0     333.0     333.0     333.0     333.0     333.0     333.0
24        333.0     333.0     333.0     333.0     333.0     333.0     333.0
25        333.0     333.0     333.0     333.0     333.0     333.0     333.0
26        333.0     333.0     333.0     333.0     333.0     333.0     333.0
27        333.0     333.0     333.0     333.0     333.0     333.0     333.0
28        333.0     333.0     333.0     333.0     333.0     333.0     333.0
29        333.0     333.0     333.0     333.0     333.0     333.0     333.0
...         ...       ...       ...       ...       ...       ...       ...
48162     111.0     111.0     108.0     100.0     100.0     103.0     106.0
48163     111.0     108.0     100.0      96.0     103.0     106.0     108.0
48164     108.0     100.0      96.0     100.0     106.0     108.0     109.0
48165     100.0      96.0     100.0     103.0     108.0     109.0     110.0
48166      96.0     100.0     103.0     106.0     109.0     110.0     110.0
48167     100.0     103.0     106.0     108.0     110.0     110.0      90.0
48168     103.0     106.0     108.0     109.0     110.0      90.0      90.0
48169     106.0     108.0     109.0     110.0      90.0      90.0      90.0
48170     108.0     109.0     110.0     110.0      90.0      90.0      89.0
48171     109.0     110.0     110.0      90.0      90.0      89.0      89.0
48172     110.0     110.0      90.0      90.0      89.0      89.0      90.0
48173     110.0      90.0      90.0      90.0      89.0      90.0     122.0
48174      90.0      90.0      90.0      89.0      90.0     122.0     132.0
48175      90.0      90.0      89.0      89.0     122.0     132.0     132.0
48176      90.0      89.0      89.0      90.0     132.0     132.0     131.0
48177      89.0      89.0      90.0     122.0     132.0     131.0     132.0
48178      89.0      90.0     122.0     132.0     131.0     132.0     132.0
48179      90.0     122.0     132.0     132.0     132.0     132.0     133.0
48180     122.0     132.0     132.0     131.0     132.0     133.0     134.0
48181     132.0     132.0     131.0     132.0     133.0     134.0     130.0
48182     132.0     131.0     132.0     132.0     134.0     130.0     120.0
48183     131.0     132.0     132.0     133.0     130.0     120.0     115.0
48184     132.0     132.0     133.0     134.0     120.0     115.0      90.0
48185     132.0     133.0     134.0     130.0     115.0      90.0      88.0
48186     133.0     134.0     130.0     120.0      90.0      88.0      89.0
48187     134.0     130.0     120.0     115.0      88.0      89.0      91.0
48188     130.0     120.0     115.0      90.0      89.0      91.0      92.0
48189     120.0     115.0      90.0      88.0      91.0      92.0       NaN
48190     115.0      90.0      88.0      89.0      92.0       NaN       NaN
48191      90.0      88.0      89.0      91.0       NaN       NaN       NaN

       AQI(t+4)  AQI(t+5)
0         333.0     333.0
1         333.0     333.0
2         333.0     333.0
3         333.0     333.0
4         333.0     333.0
5         333.0     333.0
6         333.0     333.0
7         333.0     333.0
8         333.0     333.0
9         333.0     333.0
10        333.0     333.0
11        333.0     333.0
12        333.0     333.0
13        333.0     333.0
14        333.0     333.0
15        333.0     333.0
16        333.0     333.0
17        333.0     333.0
18        333.0     333.0
19        333.0     333.0
20        333.0     333.0
21        333.0     333.0
22        333.0     333.0
23        333.0     333.0
24        333.0     333.0
25        333.0     333.0
26        333.0     333.0
27        333.0     333.0
28        333.0     333.0
29        333.0     333.0
...         ...       ...
48162     108.0     109.0
48163     109.0     110.0
48164     110.0     110.0
48165     110.0      90.0
48166      90.0      90.0
48167      90.0      90.0
48168      90.0      89.0
48169      89.0      89.0
48170      89.0      90.0
48171      90.0     122.0
48172     122.0     132.0
48173     132.0     132.0
48174     132.0     131.0
48175     131.0     132.0
48176     132.0     132.0
48177     132.0     133.0
48178     133.0     134.0
48179     134.0     130.0
48180     130.0     120.0
48181     120.0     115.0
48182     115.0      90.0
48183      90.0      88.0
48184      88.0      89.0
48185      89.0      91.0
48186      91.0      92.0
48187      92.0       NaN
48188       NaN       NaN
48189       NaN       NaN
48190       NaN       NaN
48191       NaN       NaN

[48192 rows x 9 columns]

In [6]:
df2 = pd.concat([df.reset_index(drop=True),df1.reset_index(drop=True)], axis=1)
print(df2)

                  Datetime   PM2.5    NO2    NH3    CO      O3    AQI  \
0      2015-01-01 01:00:00  428.30  47.97   6.36  0.92    7.65  333.0
1      2015-01-01 02:00:00  428.30  12.31   4.93  0.77   10.96  333.0
2      2015-01-01 03:00:00  428.30  13.72   3.92  1.06   12.14  333.0
3      2015-01-01 04:00:00  428.30  14.45   4.54  1.54   11.95  333.0
4      2015-01-01 05:00:00  428.30  20.16   4.85  1.03   11.64  333.0
5      2015-01-01 06:00:00  428.30   8.69   5.17  1.10   11.31  333.0
6      2015-01-01 07:00:00  428.30  19.66   6.02  1.29   12.90  333.0
7      2015-01-01 08:00:00  428.30  22.23   8.41  1.29   13.32  333.0
8      2015-01-01 09:00:00  428.30  20.16   4.58  1.30   12.66  333.0
9      2015-01-01 10:00:00  428.30   6.89   4.26  1.08   11.49  333.0
10     2015-01-01 11:00:00  428.30  15.82   3.93  1.18   12.22  333.0
11     2015-01-01 12:00:00  428.30  35.29   4.00  1.60   10.02  333.0
12     2015-01-01 13:00:00  428.30   9.62   3.91  1.50   10.04  333.0
13     2015-01-01 14:00:00  428.30   9.90   3.72  1.07    9.72  333.0
14     2015-01-01 15:00:00  428.30   9.37   3.75  0.90   11.32  333.0
15     2015-01-01 16:00:00  428.30  11.37   4.55  0.92   10.42  333.0
16     2015-01-01 17:00:00  428.30  11.96   3.03  1.18    9.07  333.0
17     2015-01-01 18:00:00  428.30  11.79   4.24  1.19   11.20  333.0
18     2015-01-01 19:00:00  428.30  11.54   3.96  1.44   11.17  333.0
19     2015-01-01 20:00:00  428.30  10.07   4.17  1.27   13.43  333.0
20     2015-01-01 21:00:00  428.30   9.32   4.33  1.16   14.06  333.0
21     2015-01-01 22:00:00  428.30   7.94   4.20  1.07   11.69  333.0
22     2015-01-01 23:00:00  428.30  13.79   4.68  1.08   10.76  333.0
23     2015-01-02 00:00:00  428.30  43.17   5.48  1.11   11.66  333.0
24     2015-01-02 01:00:00  428.30  13.33   5.64  0.86   13.18  333.0
25     2015-01-02 02:00:00  428.30  14.08   7.74  0.91   11.52  333.0
26     2015-01-02 03:00:00  428.30  17.17  10.51  0.82   11.90  333.0
27     2015-01-02 04:00:00  428.30  17.82  10.28  0.97   12.03  333.0
28     2015-01-02 05:00:00  428.30  16.37   9.65  1.16   11.23  333.0
29     2015-01-02 06:00:00  428.30  15.27  21.13  1.63    9.76  333.0
...                    ...     ...    ...    ...   ...     ...    ...
48162  2020-06-29 19:00:00   18.65  10.87  33.95  0.98   83.93   96.0
48163  2020-06-29 20:00:00   18.67   9.96  34.22  0.94   51.24  100.0
48164  2020-06-29 21:00:00   29.83   9.42  34.37  0.92   50.47  103.0
48165  2020-06-29 22:00:00   27.39   8.36  34.72  0.96   55.91  106.0
48166  2020-06-29 23:00:00   29.61   8.03  34.46  0.84   61.47  108.0
48167  2020-06-30 00:00:00   35.63   7.85  34.62  0.78   62.77  109.0
48168  2020-06-30 01:00:00   28.57   8.63  33.60  0.83   74.46  110.0
48169  2020-06-30 02:00:00   32.09   6.39  35.06  0.98   71.89  110.0
48170  2020-06-30 03:00:00   24.46   8.35  34.58  1.01   70.66   90.0
48171  2020-06-30 04:00:00   20.29   7.83  35.20  1.04   68.95   90.0
48172  2020-06-30 05:00:00   21.57   7.33  34.84  1.08   69.65   90.0
48173  2020-06-30 06:00:00   17.28   7.92  34.79  1.15   65.34   89.0
48174  2020-06-30 07:00:00   18.08   8.37  34.28  1.28   68.58   89.0
48175  2020-06-30 08:00:00   21.96   9.39  34.96  1.13   74.93   90.0
48176  2020-06-30 09:00:00   26.36   9.70  34.70  1.14  106.55  122.0
48177  2020-06-30 10:00:00   23.21   9.76  35.16  1.06  109.72  132.0
48178  2020-06-30 11:00:00   20.76  13.55  35.21  1.07   97.21  132.0
48179  2020-06-30 12:00:00   25.30  27.04  35.32  1.04   93.54  131.0
48180  2020-06-30 13:00:00   21.90   9.45  34.78  0.99   71.07  132.0
48181  2020-06-30 14:00:00   20.97  21.71  32.34  0.99   61.93  132.0
48182  2020-06-30 15:00:00   20.51  30.15  32.32  1.06   59.08  133.0
48183  2020-06-30 16:00:00   27.37  15.74  34.16  1.10   53.00  134.0
48184  2020-06-30 17:00:00   24.60  14.64  34.22  1.03   59.22  130.0
48185  2020-06-30 18:00:00   23.50  13.08  33.98  1.04   66.74  120.0
48186  2020-06-30 19:00:00   29.82  15.63  33.37  1.22   58.54  115.0
48187  2020-06-30 20:00:00   23.81  11.13  32.97  1.10   42.74   90.0
48188  2020-06-30 21:00:00   24.84  11.30  33.20  1.11   45.39   88.0
48189  2020-06-30 22:00:00   23.84  11.05  33.06  0.99   47.36   89.0
48190  2020-06-30 23:00:00   22.60  11.15  33.45  1.01   50.78   91.0
48191  2020-07-01 00:00:00   15.95  10.72  33.52  1.02   48.37   92.0

       AQI(t-4)  AQI(t-3)  AQI(t-2)  AQI(t-1)  AQI(t+1)  AQI(t+2)  AQI(t+3)  \
0           NaN       NaN       NaN       NaN     333.0     333.0     333.0
1           NaN       NaN       NaN     333.0     333.0     333.0     333.0
2           NaN       NaN     333.0     333.0     333.0     333.0     333.0
3           NaN     333.0     333.0     333.0     333.0     333.0     333.0
4         333.0     333.0     333.0     333.0     333.0     333.0     333.0
5         333.0     333.0     333.0     333.0     333.0     333.0     333.0
6         333.0     333.0     333.0     333.0     333.0     333.0     333.0
7         333.0     333.0     333.0     333.0     333.0     333.0     333.0
8         333.0     333.0     333.0     333.0     333.0     333.0     333.0
9         333.0     333.0     333.0     333.0     333.0     333.0     333.0
10        333.0     333.0     333.0     333.0     333.0     333.0     333.0
11        333.0     333.0     333.0     333.0     333.0     333.0     333.0
12        333.0     333.0     333.0     333.0     333.0     333.0     333.0
13        333.0     333.0     333.0     333.0     333.0     333.0     333.0
14        333.0     333.0     333.0     333.0     333.0     333.0     333.0
15        333.0     333.0     333.0     333.0     333.0     333.0     333.0
16        333.0     333.0     333.0     333.0     333.0     333.0     333.0
17        333.0     333.0     333.0     333.0     333.0     333.0     333.0
18        333.0     333.0     333.0     333.0     333.0     333.0     333.0
19        333.0     333.0     333.0     333.0     333.0     333.0     333.0
20        333.0     333.0     333.0     333.0     333.0     333.0     333.0
21        333.0     333.0     333.0     333.0     333.0     333.0     333.0
22        333.0     333.0     333.0     333.0     333.0     333.0     333.0
23        333.0     333.0     333.0     333.0     333.0     333.0     333.0
24        333.0     333.0     333.0     333.0     333.0     333.0     333.0
25        333.0     333.0     333.0     333.0     333.0     333.0     333.0
26        333.0     333.0     333.0     333.0     333.0     333.0     333.0
27        333.0     333.0     333.0     333.0     333.0     333.0     333.0
28        333.0     333.0     333.0     333.0     333.0     333.0     333.0
29        333.0     333.0     333.0     333.0     333.0     333.0     333.0
...         ...       ...       ...       ...       ...       ...       ...
48162     111.0     111.0     108.0     100.0     100.0     103.0     106.0
48163     111.0     108.0     100.0      96.0     103.0     106.0     108.0
48164     108.0     100.0      96.0     100.0     106.0     108.0     109.0
48165     100.0      96.0     100.0     103.0     108.0     109.0     110.0
48166      96.0     100.0     103.0     106.0     109.0     110.0     110.0
48167     100.0     103.0     106.0     108.0     110.0     110.0      90.0
48168     103.0     106.0     108.0     109.0     110.0      90.0      90.0
48169     106.0     108.0     109.0     110.0      90.0      90.0      90.0
48170     108.0     109.0     110.0     110.0      90.0      90.0      89.0
48171     109.0     110.0     110.0      90.0      90.0      89.0      89.0
48172     110.0     110.0      90.0      90.0      89.0      89.0      90.0
48173     110.0      90.0      90.0      90.0      89.0      90.0     122.0
48174      90.0      90.0      90.0      89.0      90.0     122.0     132.0
48175      90.0      90.0      89.0      89.0     122.0     132.0     132.0
48176      90.0      89.0      89.0      90.0     132.0     132.0     131.0
48177      89.0      89.0      90.0     122.0     132.0     131.0     132.0
48178      89.0      90.0     122.0     132.0     131.0     132.0     132.0
48179      90.0     122.0     132.0     132.0     132.0     132.0     133.0
48180     122.0     132.0     132.0     131.0     132.0     133.0     134.0
48181     132.0     132.0     131.0     132.0     133.0     134.0     130.0
48182     132.0     131.0     132.0     132.0     134.0     130.0     120.0
48183     131.0     132.0     132.0     133.0     130.0     120.0     115.0
48184     132.0     132.0     133.0     134.0     120.0     115.0      90.0
48185     132.0     133.0     134.0     130.0     115.0      90.0      88.0
48186     133.0     134.0     130.0     120.0      90.0      88.0      89.0
48187     134.0     130.0     120.0     115.0      88.0      89.0      91.0
48188     130.0     120.0     115.0      90.0      89.0      91.0      92.0
48189     120.0     115.0      90.0      88.0      91.0      92.0       NaN
48190     115.0      90.0      88.0      89.0      92.0       NaN       NaN
48191      90.0      88.0      89.0      91.0       NaN       NaN       NaN

       AQI(t+4)  AQI(t+5)
0         333.0     333.0
1         333.0     333.0
2         333.0     333.0
3         333.0     333.0
4         333.0     333.0
5         333.0     333.0
6         333.0     333.0
7         333.0     333.0
8         333.0     333.0
9         333.0     333.0
10        333.0     333.0
11        333.0     333.0
12        333.0     333.0
13        333.0     333.0
14        333.0     333.0
15        333.0     333.0
16        333.0     333.0
17        333.0     333.0
18        333.0     333.0
19        333.0     333.0
20        333.0     333.0
21        333.0     333.0
22        333.0     333.0
23        333.0     333.0
24        333.0     333.0
25        333.0     333.0
26        333.0     333.0
27        333.0     333.0
28        333.0     333.0
29        333.0     333.0
...         ...       ...
48162     108.0     109.0
48163     109.0     110.0
48164     110.0     110.0
48165     110.0      90.0
48166      90.0      90.0
48167      90.0      90.0
48168      90.0      89.0
48169      89.0      89.0
48170      89.0      90.0
48171      90.0     122.0
48172     122.0     132.0
48173     132.0     132.0
48174     132.0     131.0
48175     131.0     132.0
48176     132.0     132.0
48177     132.0     133.0
48178     133.0     134.0
48179     134.0     130.0
48180     130.0     120.0
48181     120.0     115.0
48182     115.0      90.0
48183      90.0      88.0
48184      88.0      89.0
48185      89.0      91.0
48186      91.0      92.0
48187      92.0       NaN
48188       NaN       NaN
48189       NaN       NaN
48190       NaN       NaN
48191       NaN       NaN

[48192 rows x 16 columns]

In [7]:
df2.head(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
0,2015-01-01 01:00:00,428.3,47.97,6.36,0.92,7.65,333.0,NaN,NaN,NaN,NaN,333.0,333.0,333.0,333.0,333.0
1,2015-01-01 02:00:00,428.3,12.31,4.93,0.77,10.96,333.0,NaN,NaN,NaN,333.0,333.0,333.0,333.0,333.0,333.0
2,2015-01-01 03:00:00,428.3,13.72,3.92,1.06,12.14,333.0,NaN,NaN,333.0,333.0,333.0,333.0,333.0,333.0,333.0
3,2015-01-01 04:00:00,428.3,14.45,4.54,1.54,11.95,333.0,NaN,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0
4,2015-01-01 05:00:00,428.3,20.16,4.85,1.03,11.64,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0

In [8]:
df2.tail(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
48187,2020-06-30 20:00:00,23.81,11.13,32.97,1.10,42.74,90.0,134.0,130.0,120.0,115.0,88.0,89.0,91.0,92.0,NaN
48188,2020-06-30 21:00:00,24.84,11.30,33.20,1.11,45.39,88.0,130.0,120.0,115.0,90.0,89.0,91.0,92.0,NaN,NaN
48189,2020-06-30 22:00:00,23.84,11.05,33.06,0.99,47.36,89.0,120.0,115.0,90.0,88.0,91.0,92.0,NaN,NaN,NaN
48190,2020-06-30 23:00:00,22.60,11.15,33.45,1.01,50.78,91.0,115.0,90.0,88.0,89.0,92.0,NaN,NaN,NaN,NaN
48191,2020-07-01 00:00:00,15.95,10.72,33.52,1.02,48.37,92.0,90.0,88.0,89.0,91.0,NaN,NaN,NaN,NaN,NaN

In [9]:
actual_values=[aqi_list[-5:]]
print(actual_values)

[[90.0, 88.0, 89.0, 91.0, 92.0]]

In [10]:
dropnan=True
if dropnan:
	df2.dropna(inplace=True)

In [11]:
df2.head(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
4,2015-01-01 05:00:00,428.3,20.16,4.85,1.03,11.64,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0
5,2015-01-01 06:00:00,428.3,8.69,5.17,1.10,11.31,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0
6,2015-01-01 07:00:00,428.3,19.66,6.02,1.29,12.90,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0
7,2015-01-01 08:00:00,428.3,22.23,8.41,1.29,13.32,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0
8,2015-01-01 09:00:00,428.3,20.16,4.58,1.30,12.66,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0,333.0

In [12]:
df2.tail(5)

,Datetime,PM2.5,NO2,NH3,CO,O3,AQI,AQI(t-4),AQI(t-3),AQI(t-2),AQI(t-1),AQI(t+1),AQI(t+2),AQI(t+3),AQI(t+4),AQI(t+5)
48182,2020-06-30 15:00:00,20.51,30.15,32.32,1.06,59.08,133.0,132.0,131.0,132.0,132.0,134.0,130.0,120.0,115.0,90.0
48183,2020-06-30 16:00:00,27.37,15.74,34.16,1.10,53.00,134.0,131.0,132.0,132.0,133.0,130.0,120.0,115.0,90.0,88.0
48184,2020-06-30 17:00:00,24.60,14.64,34.22,1.03,59.22,130.0,132.0,132.0,133.0,134.0,120.0,115.0,90.0,88.0,89.0
48185,2020-06-30 18:00:00,23.50,13.08,33.98,1.04,66.74,120.0,132.0,133.0,134.0,130.0,115.0,90.0,88.0,89.0,91.0
48186,2020-06-30 19:00:00,29.82,15.63,33.37,1.22,58.54,115.0,133.0,134.0,130.0,120.0,90.0,88.0,89.0,91.0,92.0

In [13]:
X=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])
y=np.array(df2[['AQI(t+1)','AQI(t+2)','AQI(t+3)','AQI(t+4)','AQI(t+5)']])

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [14]:
from sklearn import linear_model
lin_reg = linear_model.LinearRegression() 
lin_reg.fit(X_train, y_train)

LinearRegression()

In [15]:
rows,cols=X_test.shape
y_pred=lin_reg.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)

Forecasted AQI:
[82.58945837 82.65335652 82.77722    82.978212   83.10832547]

In [16]:
from sklearn.metrics import mean_squared_error
from math import sqrt
rmse = sqrt(mean_squared_error(actual_values,[pred]))
print('RMSE:')
print(rmse)

RMSE:
7.288850023804335

In [17]:
from sklearn.multioutput import MultiOutputRegressor
import xgboost as xg
xgb=MultiOutputRegressor(xg.XGBRegressor(learning_rate =0.3,n_estimators=140,max_depth=5,min_child_weight=5,reg_alpha=0.005)).fit(X_train, y_train)
y_pred=xgb.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)
rmse = sqrt(mean_squared_error(actual_values, [pred]))
print('RMSE:')
print(rmse)

C:\Users\sanju\Anaconda3\lib\site-packages\xgboost\data.py:106: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  "because it will generate extra copies and increase " +

Forecasted AQI:
[82.87872  83.240295 84.06046  82.65293  89.16912 ]
RMSE:
5.92374598586069

In [19]:
from sklearn.ensemble import RandomForestRegressor
rf=MultiOutputRegressor(RandomForestRegressor(n_estimators=140,max_depth=5)).fit(X_train, y_train)
y_pred=rf.predict(X_test)
pred=y_pred[rows-1]
print('Forecasted AQI:')
print(pred)
rmse = sqrt(mean_squared_error(actual_values, [pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[84.59754401 86.41320257 87.92657982 87.06257896 85.15209328]
RMSE:
4.364717599760622

In [23]:
pred=[]
from sklearn.ensemble import StackingRegressor
from sklearn.linear_model import RidgeCV
from sklearn import svm

X=np.array(df2[['PM2.5','NO2','NH3','CO','O3','AQI','AQI(t-4)','AQI(t-3)','AQI(t-2)','AQI(t-1)']])

for i in range(1,6):
    y=np.array(df2['AQI(t+%d)' %i])
    from sklearn.model_selection import train_test_split
    X_train1, X_test1, y_train1, y_test1 = train_test_split(X, y, test_size=0.20, random_state=42)
    #print(X_train1.shape,y_train1.shape)
    #print(X_test1.shape,y_test1.shape)
    estimators = [  ('svm', svm.SVR(kernel='poly')), ('xgb',xg.XGBRegressor(learning_rate =0.3,n_estimators=140,max_depth=5,min_child_weight=5,reg_alpha=0.005)),('rf',RandomForestRegressor(n_estimators=140,max_depth=5)) ]
    stck_reg = StackingRegressor(estimators=estimators,cv=8,n_jobs=-1).fit(X_train1,y_train1)
    y_pred=stck_reg.predict(X_test1)
    pred.append(y_pred[rows-1])
    print(pred)
    y=y.reshape(-1,1)
    X=np.append(X, y, axis=1)
    #print(X.shape,y.shape)

[83.82327148888774]
[83.82327148888774, 83.57632878078623]
[83.82327148888774, 83.57632878078623, 84.09143606271365]
[83.82327148888774, 83.57632878078623, 84.09143606271365, 83.50762886057981]
[83.82327148888774, 83.57632878078623, 84.09143606271365, 83.50762886057981, 87.13405390726652]

In [25]:
print('Forecasted AQI:')
print(pred)
rmse = sqrt(mean_squared_error(actual_values, [pred]))
print('RMSE:')
print(rmse)

Forecasted AQI:
[83.82327148888774, 83.57632878078623, 84.09143606271365, 83.50762886057981, 87.13405390726652]
RMSE:
2.7552423243817445